@charset "utf-8";
// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions";


$family-sans-serif: "Poppins Sans", sans-serif;

// $family-sans: "Poppins", sans ;
@font-face {
  font-family: $family-sans-serif;

  src: "../assets/Poppins-Regular.ttf" format("truetype");
}

@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: "../assets/SpaceGrotesk-Regular.ttf" format("truetype");
}
//####################################
//#          FRABRIC THEME           #
//####################################

// COLORS\
$dimmedBlue: rgb(31, 28, 47 );
$darkBlue: #000044;
$mediumBlue: #5A50D8;
$lightBlue: #968EFF;
$darkGray: #1D1B22;
$mediumDarkGray: #27242e;
$mediumGray: #8D8D8D;
$lightGray: #CACACA;
$white: #FFFFFF;
$black: #13111A;
$magenta: #D841DE;
$mint: #00EDC4;
$red: #e2004f;
$cyan: #00BDFF;
$lightNavy: #2F2C38;
$boxGray: #16171A;
$gold: #e6c300;
$darkBlue-invert: findColorInvert($darkBlue);
$mediumBlue-invert: findColorInvert($mediumBlue);
$lightBlue-invert: findColorInvert($lightBlue);
$darkGray-invert: findColorInvert($darkGray);
$mediumDarkGray-invert: findColorInvert($mediumDarkGray);
$mediumGray-invert: findColorInvert($mediumGray);
$lightGray-invert: findColorInvert($lightGray);
$magenta-invert: findColorInvert($magenta);
$mint-invert: findColorInvert($mint);
$red-invert: findColorInver($red);
$cyan-invert: findColorInver($cyan);
$dimmedBlue-invert:  findColorInver($dimmedBlue);
// SCHEME SETUP
$scheme-main: $black;
$scheme-color: $lightGray;
$text: $lightGray;

$primary: $mediumBlue;
$primary-invert: findColorInvert($primary);
$danger: $lightBlue;

$transparent: rgba(0, 0, 0, 0);

// Setup the new serif family
$family-primary: "Poppins", sans-serif;
$familiy-secondary: "Space Grotesk", sans-serif;
// Components and tags Styling
$input-color: $lightBlue;

$strong-color: $white;
$border-light: $mediumBlue;
$scheme-main-bis: $danger;
$navbar-item-active-color: #fff;
$card-radius: 0.50rem;
$tiny-radius: 5px;
$small-radius: 10px;


/*************************
  DROPDOWN
*************************/ 
$dropdown-menu-min-width: 8rem;
$dropdown-content-background-color: $darkGray;
$dropdown-content-offset: 15px;
$dropdown-content-padding-bottom: 0.5rem;
$dropdown-content-padding-top: 0.5rem;
$dropdown-content-radius: $small-radius;
// $dropdown-content-shadow: 0 0.5em 1em -0.125em rgba($primary-invert, 0.05), 0 0px 0 1px rgba($primary-invert, 0.01);
$dropdown-content-z: 20;
$dropdown-item-color: $lightBlue;
$dropdown-item-hover-color: hsl(0, 0%, 100%);
$dropdown-item-hover-background-color: $primary;
$dropdown-item-active-color: #fff;
$dropdown-item-active-background-color: hsl(229, 53%,  53%);
$dropdown-divider-background-color: hsl(229, 53%,  53%);

$modal-content-width: min(100%, 1000px);

html {
  font-family: $family-primary;
}
body {
  font-family: $family-primary;
}

input {
  border: $mediumBlue solid 1px !important;
}

// RADIUS
.has-radius-md {
  border-radius: 0.50rem !important;
}

.has-radius-lg {
  border-radius: 1rem !important;
}

//BORDER
.has-border-bottom {
  border-bottom: $white 1px solid !important;
}

.has-full-borders {
  border: $white 1px solid !important;
}
.has-full-borders-primary {
  border: $primary 1px solid !important;
}
.image {
  &.is-200x200 {
    width: 350px;
    height: 350px;
  }
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: $lightBlue !important;
  font-weight: 600;
  line-height: 1.125;
}

.content a, .markdown-body a {
  color: $primary !important;
  font-weight: 600;
}
// Adding new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "dimmedBlue": ($dimmedBlue, $dimmedBlue-invert),
  "darkBlue": ($darkBlue, $darkBlue-invert),
  "mediumBlue": ($mediumBlue, $mediumBlue-invert),
  "lightBlue": ($lightBlue, $lightBlue-invert),
  "darkGray": ($darkGray, $darkGray-invert),
  "mediumGray": ($mediumGray, $mediumGray-invert),
  "mediumDarkGray": ($mediumDarkGray, $mediumDarkGray-invert),
  "lightGray": ($lightGray, $lightGray-invert),
  "transprent": ($transparent, $transparent),
  "cyan": ($cyan, $cyan-invert),
  "red": ($red, $red-invert),
  "magenta": ($magenta, $magenta-invert),
  "mint": ($mint, $mint-invert)
);
$colors: map-merge($colors, $addColors);

// Importing the rest of Bulma
@import "../../node_modules/bulma/bulma.sass";


// Explicit Bulma class overrides

.label {
  color: white;
}

.textarea {
  border-color: $mediumBlue;
  min-height: 200px;
  max-width: 100%;
  min-width: 100%;

  &:hover {
    border-color: $mediumBlue;
  }
}

.button {
  border: none;
  transition: all 150ms;

  &:hover {
    filter: contrast(140%);
  }

  &.is-secondary {
    border: solid 1px $primary
  }
}

.select {
  display: block;
  cursor: pointer;
  outline: none !important;
  border-color: $mediumBlue  !important;
  border-radius: $tiny-radius;
}

.title {
  color: $lightGray;
  font-family: "Poppins", sans !important;

  &.is-extra-large {
    font-size: 4rem;
  }
}

.brand {
 font-family: "Poppins", sans !important;
}
@import "./markdown.scss";